/* Main Container  */
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

/* Check Container */
.checkContainer {
    display: flex;
    align-items: center;
}

/* Check Button Container */
.checkButtonContainer {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.checkButtonContainer.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Check Button Input */
.checkButtonInput {
    display: none;
}

/* Check Box */
.checkBox {
    width: 16px;
    height: 16px;
    border: 2px solid ;
    border-radius: 3px;
    background-color: var(--background-color-form);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkBox.checked {
    animation: pulse 0.3s ease-out;
    background-color: var(--primary-check-box);    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animación de pulso */
@keyframes pulse {
    0% { transform: scale(0.75); }
    70% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

/* Check Box Disabled */
.checkBox.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Check Box Label */
.checkButtonLabel {
    padding: 4px 8px;
}

/* Error Message */
.errorMessage {
    margin-top: 0.1rem;
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
    font-weight: 500;
    animation: fadeIn 0.3s ease-in-out;
    color: var(--primary-error-check-box);
}

/* Placeholder */
.placeholderSpace {
    height: 1.25rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}