/* Custom Card */
.customCard {
    border: 1px solid var(--primary-border-card);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--primary-shadow-card);
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 1rem;
}
  
/* Custom Card Hover */
.customCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px var(--primary-shadow-hover);
}

/* Custom Card Title */
.customCardTitle {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.1rem;
}
  
/* Custom Card Message */
.customCardMessage {
    font-size: 1rem;
    margin-bottom: 0.1rem;
}
  
/* Custom Card Footer */
.customCardFooter {
    font-size: 1rem;
}  

/* Custom Card Button Container */
.customCardButtonContainer {
    position: relative; /* Establece el contenedor para posicionamiento relativo */
}

/* Custom Button */
.customCardButton {
    position: absolute; /* Botón absoluto dentro del contenedor */
    bottom: 0px; /* Ajusta según el margen inferior deseado */
    right: 0px; /* Ajusta según el margen derecho deseado */
    padding: 0.3rem 0.3rem;
    background-color: var(--primary-bg-button);
    color: var(--primary-color-button);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--second-shadow-button);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

/* Custom Button Hover */
.customCardButton:hover {
    transform: translateY(-1px);
    background-color: var(--primary-bg-button-hover);
    box-shadow: 0 4px 6px var(--second-shadow-button);
}

/* Custom Button Active */
.customCardButton:active {
    transform: translateY(1px);
    background-color: var(--primary-bg-button-active);
}

/* Custom Button Disabled */
.customCardButton:disabled {
    background-color: var(--primary-button-disabled-bg);
    color: var(--primary-button-disabled-text);
    cursor: not-allowed;
    opacity: 0.6;
}