/* Header */
.footer {
    margin-top: 1rem;
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%; /* Se asegura de que el contenedor use todo el ancho disponible */
    overflow: hidden; /* Evita que el contenido desborde si es necesario */
    opacity: 0.6;
}

/* Link */
.link {
    max-width: 20%;
}

/* Logo */
.logo {
    flex-grow: 1; /* Permite que las imágenes crezcan proporcionalmente */
    max-width: 100%; /* Para evitar que la imagen exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Ajusta cómo se muestra la imagen dentro del espacio */
}
