:root {
    --background-color: white;
    --text-color: black;
    --primary-color: blue;
    --background-color-form: #313030;
}

[data-theme='dark'] {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: lightblue;
    --background-color-form: #313030;
}

[data-theme='light'] {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: rgb(0, 0, 0);
    --background-color-form: #ffffff;
}

[data-color='1'] {
    /* Button */
    --primary-color-button: #ffffff;
    --primary-bg-button: #1a73e8;
    --primary-bg-button-hover: #1669c1;
    --primary-bg-button-active: #1558a8;
    --primary-shadow-button: rgba(0, 0, 0, 0.1);
    --second-shadow-button: rgba(0, 0, 0, 0.2);
    --third-shadow-button: rgba(26, 115, 232, 0.4);
    /* Check Box */
    --primary-check-box: #007bff;
    --primary-error-check-box: #ef4444;
    /* Date Time */
    --primary-border-date-time: #808080;
    --primary-shadow-date-time: rgba(0, 0, 0, 0.05);
    --primary-border-date-time-focus: #2563eb;
    --second-shadow-date-time-focus: rgba(37, 99, 235, 0.2);
    --primary-invalid-date-time: #ef4444;
    --primary-invalid-shadow-date-time: rgba(239, 68, 68, 0.2);
    --primary-error-date-time: #ef4444;
    /* Dropdown */
    --primary-border-dropdown: #808080;
    --primary-shadow-dropdown: rgba(0, 0, 0, 0.05);
    --primary-border-dropdown-focus: #2563eb;
    --second-shadow-dropdown-focus: rgba(37, 99, 235, 0.2);
    --primary-invalid-dropdown: #ef4444;
    --primary-invalid-shadow-dropdown: rgba(239, 68, 68, 0.2);
    --primary-error-dropdown: #ef4444;
    /* Informative Message */
    /* Input */
    --primary-border-input: #808080;
    --primary-shadow-input: rgba(0, 0, 0, 0.05);
    --primary-border-input-focus: #2563eb;
    --second-shadow-input-focus: rgba(37, 99, 235, 0.2);
    --primary-invalid-input: #ef4444;
    --primary-invalid-shadow-input: rgba(239, 68, 68, 0.2);
    --primary-error-input: #ef4444;
}