:root {
    --background-color: #f8f8f8;
    --text-color: #000000;
    --primary-color: #000000;
    --background-color-form: #ffffff;
}

[data-theme='light'] {
    --background-color: #f8f8f8;
    --text-color: #000000;
    --primary-color: #000000;
    --background-color-form: #ffffff;
}

[data-theme='dark'] {
    --background-color: #242424;
    --text-color: #ffffff;
    --primary-color: lightblue;
    --background-color-form: #303030;
}

[data-color='1'] {
    /* Button */
    --primary-color-button: #ffffff;
    --primary-bg-button: #381283;
    --primary-bg-button-hover: #5C22D1;
    --primary-bg-button-active:  #381283;
    --primary-shadow-button: rgba(0, 0, 0, 0.1);
    --second-shadow-button: rgba(0, 0, 0, 0.2);
    --third-shadow-button: #4719a5;
    /* Check Box */
    --primary-check-box: #381283;
    --primary-error-check-box: #ef4444;
    /* Date Time */
    --primary-border-date-time: #bbbbbb;
    --primary-shadow-date-time: rgba(0, 0, 0, 0.05);
    --primary-border-date-time-focus: #381283;
    --second-shadow-date-time-focus: rgba(99, 49, 138, 0.2);
    --primary-invalid-date-time: #ef4444;
    --primary-invalid-shadow-date-time: rgba(239, 68, 68, 0.2);
    --primary-error-date-time: #ef4444;
    /* Dropdown */
    --primary-border-dropdown: #bbbbbb;
    --primary-shadow-dropdown: rgba(0, 0, 0, 0.05);
    --primary-border-dropdown-focus: #381283;
    --second-shadow-dropdown-focus: rgba(99, 49, 138, 0.2);
    --primary-invalid-dropdown: #ef4444;
    --primary-invalid-shadow-dropdown: rgba(239, 68, 68, 0.2);
    --primary-error-dropdown: #ef4444;
    /* Informative Message */
    /* Input */
    --primary-border-input: #bbbbbb;
    --primary-shadow-input: rgba(0, 0, 0, 0.05);
    --primary-border-input-focus: #381283;
    --second-shadow-input-focus: rgba(99, 49, 138, 0.2);
    --primary-invalid-input: #ef4444;
    --primary-invalid-shadow-input: rgba(239, 68, 68, 0.2);
    --primary-error-input: #ef4444;
    /* Home Page */
    --primary-shadow-card: rgba(0, 0, 0, 0.1);
    --primary-bg-card: rgba(0, 0, 0, 0.6); 
    --primary-box-shadow-card: rgba(0, 0, 0, 0.2);
    --primary-border-card: rgba(0, 0, 0, 0.1);
    /* Login Page */
    --primary-shadow-card-login: rgba(0, 0, 0, 0.1);
    /* Register Page */
    --primary-shadow-card-register: rgba(0, 0, 0, 0.1);
    /* Reservation Page */
    --primary-shadow-card-reservation: rgba(0, 0, 0, 0.1);
}