/* Titulo del Home Page */
.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

/* Padding para el Card del Home Page */
.card {
    padding: 2em;
}

/* Contenedor de botones */
.custom-div {
    margin-top: 0.5rem;
}

/* Fondo oscuro semitransparente para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenedor de contenido del modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

/* Estilos para el botón de cerrar */
.modal-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

/* H2 del modal */
.modal-content h2 {
    margin-top: 0;
}

/* P del Modal  */
.modal-content p {
    margin-bottom: 20px;
}
