.notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.notFoundContainer h1 {
    font-size: 3rem;
    text-align: center;
}
  